<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="styles.css">
	<title>Door Decoration Contest!</title>
	<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Archivo+Narrow:wght@500&family=Indie+Flower&display=swap" rel="stylesheet">

</head>
<body>
	{{{body}}}
</body>
</html>